* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* Встановлено на 0 для уникнення відступів */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  width: 300px;
  /* Ширина інпуту */
  padding: 10px;
  /* Внутрішні відступи */
  border: 1px solid #808080;
  /* Кордон */
  border-radius: 4px;
  /* Закруглені кути */
  margin-bottom: 20px;
  /* Відступ знизу */
  font-size: 16px;
  /* Розмір шрифту */
}

h1 {
  margin: 0;
  /* Відступи */
  font-size: 24px;
  /* Розмір шрифту для заголовка */
}

span {
  font-weight: bold;
  /* Жирний шрифт для привітання */
  color: #333;
  /* Колір тексту */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  list-style-type: none;
  width: 1128px;
  position: absolute;
  top: 100px;
  left: 156px;
}

.gallery li {
  flex: 1 1 calc(100% / 3 - 24px);
  box-shadow: none;
  border-radius: 0px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.login-form {
  width: 408px;
  /* Ширина форми */
  height: auto;
  /* Висота автоматично підлаштовується */
  position: relative;
  /* Зміна на relative для позиціювання */
  margin: 20px;
  /* Відступи для вирівнювання */
  padding: 24px;
  /* Внутрішні відступи */
  gap: 16px;
  /* Відстань між елементами */
  border-radius: 8px;
  /* Згладжені кути */
  opacity: 1;
  /* Зробити видимою */
}

.login-form label {
  display: flex;
  flex-direction: column;
  /* Вертикальне вирівнювання label */
  gap: 8px;
  /* Відстань між текстом і полем вводу */
}

button {
  background-color: #4E75FF;
  /* Колір фону кнопки */
  color: white;
  /* Колір тексту кнопки */
  border: none;
  /* Без обведення */
  border-radius: 4px;
  /* Згладжені кути */
  padding: 10px 16px;
  /* Внутрішні відступи для кнопки */
  cursor: pointer;
  /* Курсор у вигляді вказівника */
  transition: background-color 0.3s;
  /* Анімація з переходу кольору фону */
}

button:hover {
  background-color: #6C8CFF;
  /* Зміна кольору фону кнопки при наведені */
}